body {
  background-color: #c83349;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  min-height: 100vh;
}

.titre, form {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titre form input, .titre form button, form form input, form form button {
  padding: 2px;
  font-size: 20px;
  border: none;
  background: #ffffff;
}

.titre form button, form form button {
  color: #ff7b25;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.titre form button:hover, form form button:hover {
  background: #ff7b25;
  color: #ffffff;
}
